/* HTML and Body */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #c6c1c1;
}

.content ul {
  display: flex;
}

h1 a {
  padding-left: 2rem;
}

.content .logo {
  font-weight: bold;
  padding-left: 1rem;
}

.content li {
  padding: 1rem;
}

.content .icon {
  width: 0.8rem;
  padding-left: 0.5rem;
}

a {
  text-decoration: none;
  color: #4A4A4A;
}

/* Sign Up Content*/
#sign-up {
  position: relative;
  top: 3rem;
}

.sign-up-section {
  background-image: url("../images/banner-landingpage.jpg");
  display: flex;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  align-items: flex-start;
  height: 40rem;
}

.content1 {
  position: relative;
  top: 14rem;
  left: 10%;
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 2rem;
  background-color: teal;
  width: 26rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}

.content1 .striking {
  font-size: 3rem;
  font-family: "Rubik";
}

.content1 .cursive {
  font-size: 2rem;
  font-family: "Damion";
  padding-top: 2rem;
}

.content1 p {
  font-size: 1.25rem;
  font-family: "Roboto";
  padding-top: 0.75rem;
}

p span {
  font-weight: bold;
}

.content1 .button {
  width: 408px;
  height: 64px;
  background-color: #4A4A4A;
  border-radius: 10px;
  text-align: center;
  padding-top: 1.5rem;
  margin-top: 1.5rem;
}

/* Featured Section*/
.features-section {
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 5rem;
}

.feature {
  background-color: white;
  padding: 2rem;
  margin: 0 1.2rem;
  text-align: center;
}

.feature .image-container {
  height: 65%;
  width: 90%;
  margin: 0 auto;
}

.feature .content2 {
  line-height: 1.2;
  margin-top: 2.5rem;
  height: auto;
}

.feature h2 {
  font-size: 2.25rem;
  font-weight: bold;
  color: #4A4A4A;
  padding-bottom: 0.5rem;
}

.feature h3 {
  font-size: 1rem;
  font-weight: lighter;
  color: #4A4A4A;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  display: block;
  max-width: 100%;
}


/* Filter Section */
#filters-section {
  background-color: #4A4A4A;
  color: white;
  text-align: center;
}

 .content3 h2 {
  font-size: 2.25rem;
  font-weight: bold;
  padding-top: 4rem;
  padding: 4rem 1rem 1rem 1rem;
}

 .content3 h3 {
  font-size: 1rem;
  font-weight: lighter;
  line-height: 1.4;
  padding: 1rem 1rem 4rem 1rem;
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
}

.col img {
  margin: 10px auto;
  height: auto;
  width: auto;
}

/*Quotes Section*/
.quotes-section {
  padding: 5rem 2rem;
  text-align: center;
  font-size: 1.875rem;
  font-family: "Palatino", serif;
  font-style: italic;
  color: #4A4A4A;
}

.quotes-section img {
  padding-top: 2rem;
  height: 2rem;
}

/* Footer */
footer {
  background-color: #9B9B9B;
  padding: 1.5rem 2rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
  color: white;
}

/** media queries **/
@media only screen and (max-width: 720px) {
  #mobile {
    visibility: visible;
  }

  #desktop {
    visibility: hidden;
  }

  .sign-up-section {
    height: 35rem;
  }

  .content1 {
    position: relative;
    top: 10rem;
    width: 15rem;
    height: 20rem;
    font-size: 1rem;
    line-height: 1;
  }

  .content1 .striking {
    font-size: 1.84rem;
    padding-top: 1rem;
  }

  .content1 p {
    font-size: 1rem;
    padding-top: 2rem;
    line-height: 1.5;
  }

  .content1 .button {
    width: 250px;
    height: 64px;
  }

  p.button {
    font-size: 1.2rem;
  }

  .features-section {
    flex-direction: column;
  }

  .content3 h2 {
   font-size: 1.7rem;
 }

   footer {
     display: block;
     text-align: center;
   }

   p.copyright {
     padding: 2rem;
   }
}

@media only screen and (max-width: 960px) {
  .feature .content2 h2 {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 720px) and (max-width: 1600px) {
  #mobile {
    visibility: hidden;
  }

  #desktop {
    visibility: visible;
  }
}
